secondary_cathes/in-out_files/first.csv
secondary_cathes/in-out_files/second.csv
secondary_cathes/in-out_files/out.csv
secondary_cathes/in-out_files/errors.txt
secondary_cathes/in-out_files/not_found_rings.txt
